h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
}

span {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #666;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
